<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Form Input Template</title>
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!--<script src="../static/js/bootstrap.min.js"></script>-->
    <!--<script src="../static/js/jquery-3.3.1.slim.min.js"></script>-->
    <!--<script src="../static/js/popper.min.js"></script>-->
  </head>
  <body>
    <div id="banner" class="container">
      <h1 class="display-4">Your Video Game Boss Name</h1>
    </div>
    <div class="container">
      <form action="{{ url_for('process_inputs') }}" method="post">
        <div class="form-group">
        </div>
        <div class="form-group">
          <label for="input_dropdown">First letter of your first name</label>
          <select class="form-control" name="Letter" id="Letter">
            <option value="Nokris">A</option>
            <option value="Gilga">B</option>
            <option value="Vin">C</option>
            <option value="Cro">D</option>
            <option value="Stur">E</option>
            <option value="Kron">F</option>
            <option value="Hera">G</option>
            <option value="Verna">H</option>
            <option value="Gner">I</option>
            <option value="Alnar">J</option>
            <option value="Miren">K</option>
            <option value="Zuul">L</option>
            <option value="Reta">M</option>
            <option value="Nzar">N</option>
            <option value="Herva">O</option>
            <option value="Bvud">P</option>
            <option value="Argent">Q</option>
            <option value="Lina">R</option>
            <option value="Quar">S</option>
            <option value="Ghrag">T</option>
            <option value="Kor">U</option>
            <option value="Fesza">V</option>
            <option value="Yurvg">W</option>
            <option value="Vrast">X</option>
            <option value="Mones">Y</option>
            <option value="Orlan">Z</option>
          </select>

        <div class="form-group">
          <label for="input_dropdown">Last number of the day you were born</label>
          <select class="form-control" name="Number" id="Number">
            <option value="Nar">0</option>
            <option value="Ved">1</option>
            <option value="Gud">2</option>
            <option value="Verid">3</option>
            <option value="Lerdun">4</option>
            <option value="Ginar">5</option>
            <option value="Cerd">6</option>
            <option value="Dnur">7</option>
            <option value="Boor">8</option>
            <option value="Lak">9</option>
        </select>
        <div class="form-group">
          <label for="input_dropdown">Favorite Color</label>
          <select class="form-control" name="Color" id="Color">
            <option value="Hated">Red</option>
            <option value="Enormous">Orange</option>
            <option value="Endless">Yellow</option>
            <option value="Merciless">Green</option>
            <option value="Deep">Blue</option>
            <option value="Mindless">Indigo</option>
            <option value="Timeless">Violet</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="container">
      <!--{% if input_data %} {{ input_data }} {% endif %}
    </div>-->
    <br />
      <span class="output">{% if output %} {{ output }} {% endif %}</span>
    </div>
  </body>
</html>

